<div>
    <div class="btn-group w-100" role="group">
        <button type="button" class="btn btn-primary btn-block rounded-0" (click)="create()">Study Life!</button>
        <button type="button" class="btn rounded-0 btn-primary settings-toggle"
            data-toggle="collapse" data-target="#defaultSettings" title="change default settings">
            <i class="fa fa-bars"></i>
        </button>
    </div>
    <div id="defaultSettings" class="collapse mt-1" role="tabpanel" aria-labelledby="settingsHeading">
        <div id="options" class="w-100 d-flex flex-row justify-content-center">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Rows</span>
                </div>
                <input type="text" class="form-control" size="3" placeholder="rows" [(ngModel)]="defaultRows">
            </div>
            <div class="input-group ml-1">
                <div class="input-group-prepend">
                    <span class="input-group-text">Cols</span>
                </div>
                <input type="text" class="form-control" size="3" placeholder="columns" [(ngModel)]="defaultColumns">
            </div>
            <div class="input-group ml-1">
                <div class="input-group-prepend">
                    <span class="input-group-text">Density</span>
                </div>
                <span class="range rounded-right">
                    <input type="range" class="form-control" min="10" max="90" [(ngModel)]="defaultDensity" [title]="defaultDensity + '%'">
                </span>
            </div>
        </div>
    </div>
</div>
