<app-controls *ngIf="lab.experiments.length > 0"></app-controls>
<div *ngIf="lab.experiments.length === 0"
    class="h-100 row align-items-center">
    <app-controls class="col"></app-controls>
</div>
<app-dishrack></app-dishrack>
