.range {
    border: 1px solid rgba(0,0,0,.15);
    border-left-color: #e0e0e0;
    vertical-align: middle;
    background-color: #fdfdfd;
}

.range input {
    height: 100%;
}

.playback-controls {
    background-color: #b2b2b2;
    border: 1px solid #a0a0a0;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}
.speed {
    margin-right: 2px;
    margin-left: 2px;
    font-size: .65em;
}
