<div class="m-2 d-flex flex-row">
   <!--/div>
       <div class="d-flex flex-row">
        <div class="input-group">
       <div class="input-group-prepend">
       <span class="input-group-text">Density</span>
       </div>
       <input type="text" class="form-control" size="3" placeholder="density" [(ngModel)]="defaultDensity" aria-describedby="basic-addon1">
       <div class="input-group-append">
       <span class="input-group-text">%</span>
       </div>
       </div-->
    <!-- TODO: Add delete button -->
    <div class="d-flex flex-column">
        <div class="d-flex flex-row mt-1">
            <app-board [cols]="experiment.columns" [rows]="experiment.rows"
                   [cellSize]="cellSize" [cellSpacing]="cellSpacing"
                   [cells]="getCurrentGeneration().living">
            </app-board>
            <div class="d-flex align-items-start flex-column pb-2 ml-1">
                <div class="h-100 mb-auto">
                    <app-culture-info [generation]="getCurrentGeneration()"
                                  [boardWidth]="experiment.columns"
                                  [boardHeight]="experiment.rows"
                                  (close)="destroy()">
                    </app-culture-info>
                </div>
                <div *ngIf="!creating" class="mt-1 playback-controls align-items-end w-100">
                    <div>
                        <span *ngIf="!playing">
                            <span (click)="nav('-', 20)" title="Move backwards 20 generations">&#x25c5;</span>
                            <span (click)="nav('-', 1)" title="Move backwards 1 generation">&#x25c2;</span>
                        </span>
                        <span (click)="togglePlaying()">
                            <span *ngIf="!playing" title="Play">&#x25ba;</span>
                            <span *ngIf="playing" title="Pause">▮▮</span>
                        </span>
                        <span *ngIf="!playing">
                            <span (click)="nav('+', 1)" title="Move forward 1 generation">&#x25b8;</span>
                            <span (click)="nav('+', 20)" title="Move forward 20 generations">&#x25bb;</span>
                        </span>
                    </div>
                    <div class="speed">
                        <span (click)="speed('-', 10)" title="decrease rate">-</span>
                        <span>{{playRateMs}}ms</span>
                        <span (click)="speed('+', 10)" title="increase rate">+</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
