body {
    background-color: #e5e5e5;
    background-image: url("./assets/mainbg.jpg");
    height: 100vh;
}

.btn-primary {
    background-color: #f39f41;
    border-color: #f39f41;
}

.btn-primary:hover {
    background-color: #f08711;
    border-color: #f08711;
}

.btn-primary:focus {
    box-shadow: none;
}
