.culture-info {
    background-color: #b2b2b2;
    border: 1px solid #a0a0a0;
    font-family: Verdana, sans-serif;
    font-size: .85em;
}

.status-active {
    background-color: #4ca54c;
}

.status-stable {
    background-color: #66aaf5;
}

.status-dead {
    background-color: #ff4c4c;
}

.culture-info .dims {
    color: #4c4c4c;
    font-size: .65em;
}

.culture-info .label {
    color: #5d5d5d;
    color: #e5e5e5;
    color: #f7f7f7;
}

.culture-info .data {
    color: #ffffff;
}

.close {
    position: relative;
    left: 5px;
    bottom: 7px;
    opacity: .5;
    font-size: .75em;
}

.close:hover {
    color: red;
    opacity: .90;
}
