<div class="d-flex flex-column p-2 h-100 culture-info"
      [ngClass]="{'status-active': generation.status == 'Active',
                  'status-stable': generation.status == 'Stable',
                  'status-dead': generation.status == 'Dead'}"
    >
    <div class="d-flex justify-content-start">
        <div class="d-flex flex-row dims">
            <span title="rows">{{boardHeight}}</span> x <span title="columns">{{boardWidth}}</span>
        </div>
        <button type="button" class="ml-auto close" title="Delete" (click)="close.emit(true)">&#10006;</button>
    </div>
    <div class="d-flex flex-row">
        <span class="label">Generation:&nbsp;</span>
        <span class="data">{{generation.num}}</span>
    </div>
    <div class="d-flex flex-row">
        <span class="label">Num&nbsp;Living:&nbsp;</span>
        <span class="data">{{generation.living.length}}</span>
    </div>
    <div class="d-flex flex-row">
        <span class="label">Status:&nbsp;</span>
        <span class="data">{{generation.status}}</span>
    </div>
    <!--
    <div class="d-flex flex-row">
        <span class="label">Started:</span>
        <span class="data">{{startTime}}</span>
    </div>

    &#10006;
    -->
</div>
